<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Cafe List</title>
	</head>
	<body>
		<h2>Cafe List</h2>
		<script th:inline="javascript">
			function checkDelete( ){
				var checkDelete = confirm("카페 목록을 모두 삭제하시겠습니까?");
				if (checkDelete) {
					window.location.href='cafes/delete/all';
				} else{
					alert("삭제를 취소했습니다.");
				}
			};
			
		</script>
		<table border="1">
			<thead>
				<tr>
					<td>카페번호</td>
					<td>카페이름</td>
					<td>위치</td>
					<td>운영시간</td>
					<td>상세보기</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cafe : ${cafes}">
					<td th:text="${cafe.cafeId}"></td>
					<td th:text="${cafe.name}"></td>
					<td th:text="${cafe.location}"></td>
					<td th:text="${cafe.openingHours"></td>
					<td>
						<a th:href="@{'/cafes/' + cafe.cafeId}">상세보기</a>
						<a th:href="@{'/cafes/update/' + cafe.cafeId}">수정하기</a>
						<a th:href="@{'/cafes/delete/' + cafe.cafeId}">삭제하기</a>
						
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{cafes/new}">새로운 카페 추가</a>
		
		<form action="@{/cafes}" method="get">
			<label>Search Cafe</label>
			<input type="text" id="searchName" name="name"/>
			<button type="submit">Search</button>
		</form>
		
		<table border="1">
			<tr th:each="cafe : ${cafes}"></tr>
		</table>
		
		
		
		
		
		
		
		
		<a href="#" th:onclick="checkDelete()">모든 게시물 삭제</a>
	
	</body>
</html>