<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Item View</title>
		<style>
			.item-container{
				max-width: 900px;
				margin:0 auto;
			}
			.item{
				float: left;
				width: 200px;
				border:1px solid #ccc;
				padding:10px;
				text-align: center;
				margin:10px;
			}
			.item img{
				width:100%;
				height:auto;
			}
		</style>
	</head>
	<body>
		<div th:if="${item != null}">
			<h1 th:text="${item.name}">상세보기</h1>
			<!--이미지는 img 경로와 이미지 이름을 잘 설정해줘야함-->
			<!--이미지가 없을 수도 있으니 이미지가 없으면 안보여주고 
				이미지가 존재한다면 보여줄 수 있도록 설정 -->
		<div class="item-container">
			<div class="item">
				
				<div th:if="${item.imgName != null and item.imgPath != null}">
					<!--첫번째 경로-->
					<img th:src="@{${item.imgPath}}" />
				</div>
				
				<div th:unless="${item.imgName != null and item.imgPath != null}" >
					<!--<p>존재하지 않는 이미지입니다.</p>-->
					<img th:src="@{img/notImg.jpg}" /> 
					<!-- th:src="@{img/notImg.jpg}" : notImg.jpg의 이름의 이미지 파일로 이미지가 없을 때마다 뜨게 해줌 -->
				</div>
				
				<!--두번째 경로
				<img th:src="@{'/img/ + item.imgpath + '/' +item.imgName}" />
				-->
				
				<label>상세설명 : </label>
				<p th:text="${item.text}"></p>
				
				<label>가격 : </label>
				<p th:text="${item.price}"></p>
				
				<label>재고 : </label>
				<p th:text="${item.stock}"></p>
			
				<a th:href="@{/item/list}">돌아가기</a>
			</div>
		</div>
	</div>	
	</body>
</html>