<!DOCTYPE html>
<!--xmlns="" 선언하기 위해서 사용
	xmlns : 약어 어떤 내용을 약어를 사용해서 단축해서 표현할 수 있다
 	xmlns="http://www.thymeleaf.org" ThymeLeaf문법을 사용하겠다고 선언한 것
 	:th => th태그안에 넣겠다 
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Hello ThymeLeaf</title>
</head>
<body>
	<!--
		th:text 는 ThymeLeaf에서 사용되는 표현식이다
		th는 약어(단축어)이다
		message : HelloController에서 
		model.addAttribute("message", "안녕~ 나는 ThymeLeaf야")에서 가져온 message를 의미한다
			그리고 컨트롤러에 전달된 message라는 키의 값이 h1에 표현된다.
	-->
	<h1 th:text="${message}"></h1>
</body>
</html>