<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.springdb.mapper.BoardMapper">
	<select id="getAllBoards" resultType="com.kh.springdb.model.Board">
		SELECT * FROM board
	</select>
	
	<update id="updateBoard" parameterType="com.kh.springdb.model.Board">
		UPDATE board SET 
		TITLE = #{title},
		CONTENT = #{content},
		AUTHOR = #{author}
		WHERE BOARD_ID = #{board_id}
		
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE BOARD_ID = #{board_id}
	</delete>
</mapper>
