<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>상품 등록 - 판매자용</title>
	</head>
	<body>
		<form th:action="@{/new}" method="post" enctype="multipart/form-data">
			<div>
				<div>
					<label for="name">상품이름</label>
					<input type="text" id="name" name="name" placeholder="상품명을 입력하세요." required />
					<p>이름은 필수로 입력해야 합니다.</p>					
				</div>
				
				<div>
					<label for="price">상품가격</label>
					<input type="text" id="price" name="price" placeholder="가격을 입력하세요." required />
					<p>상품가격은 필수로 입력해야 합니다.</p>
				</div>
				
				<div>
					<label for="description">상품설명</label>
					<input type="text" id="description" name="description" placeholder="상품에 대한 설명을 입력하세요." required />
					<p>상품설명은 필수로 입력해야 합니다.</p>
				</div>
				
				<div>
					<label for="stockQuantity">상품재고</label>
					<input type="text" id="stockQuantity" name="stockQuantity" placeholder="상품 재고를 입력하세요." required />
					<p>상품재고는 필수로 입력해야 합니다.</p>
					
				</div>
				
				<div>
					<label for="photoFile">상품 이미지 업로드</label>
					<input type="file" id="photoFile" name="photoFile" />
				</div>
			</div>
			
			
		</form>
	</body>
</html>