<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Board List</title>
	</head>
	<body>
		<h2>Board List</h2>
		<table border="1">
			<thead>
				<tr>
					<td>게시글 번호</td>
					<td>제목</td>
					<td>작성자</td>
					<th>상세보기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boards}">
					<td th:text="${board.boardId}"></td>
					<td th:text="${board.title}"></td>
					<td th:text="${board.author}"></td>
					<td><a th:href="@{/boards/details/{boardId}(boardId=${board.boardId})}">View Details</a></td>
					
				</tr>
			</tbody>
			
		</table>
		<a th:href="@{/boards/new}">Add New Board</a>
	</body>
</html>

<!-- ${boards}의 값을 board로 받아와서 하나씩 출력할거야 -->