<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Board Detail</title>
	</head>
	<body>
		<h2>게시글 상세보기</h2>
		<table border="1">
			<tr>
				<td>게시글 번호</td>
				<td>제목</td>
				<td>내용</td>
				<td>작성자</td>
			</tr>
			<tr th:if="${board != null}">
				<td th:text="${board.boardId}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.content}"></td>
				<td th:text="${board.author}"></td>
			</tr>
			
		</table>
	
	</body>
	<a th:href="@{/boards}">돌아가기</a>
</html>